<script setup lang="ts">
import type { {{.TSVoName}} } from '{{.APIImportPath}}'
import { create, save } from '{{.APIImportPath}}'
import getFormItems from './data/getFormItems.tsx'
import type { MaFormExpose } from '@/components/ma-form'
import useForm from '@/hooks/useForm.ts'
import { ResultCode } from '@/utils/ResultCode.ts'
import useFormResponsive from '@/hooks/useFormResponsive.ts'

const { formType = 'add', data = null } = defineProps<{
  formType: 'add' | 'edit'
  data?: {{.TSVoName}} | null
}>()

const t = useTrans().globalTrans
const maFormRef = ref<MaFormExpose>()
const formModel = ref<{{.TSVoName}}>({} as {{.TSVoName}})

useFormResponsive(maFormRef)

useForm('maFormRef').then((form: MaFormExpose) => {
  if (formType === 'edit' && data) {
    Object.assign(formModel.value, data)
  }
  form.setItems(getFormItems(formType, t, formModel.value))
})

function add(): Promise<any> {
  return create(formModel.value).then((res: any) => {
    if (res.code === ResultCode.SUCCESS)
      return res
    throw res
  })
}

function edit(): Promise<any> {
  const id = formModel.value.{{.PrimaryKey}} as number
  return save(id, formModel.value).then((res: any) => {
    if (res.code === ResultCode.SUCCESS)
      return res
    throw res
  })
}

defineExpose({
  add,
  edit,
  maForm: maFormRef,
})
</script>

<template>
  <ma-form ref="maFormRef" v-model="formModel" />
</template>

<style scoped lang="scss">
</style>
