.idea/
.git/
vendor/
.vscode/
.env
.DS_Store
*.lock
storage/swagger
storage/uploads
storage/video/*
!storage/video/.gitkeep
code-generator.php
composer.phar
swoole-cli
keyandcontent.json
*code-generator.php
.phpstorm*
phpstan*
databases/data/*.sqlite
/runtime/*
/server/pkg
fastapp.phar